  <!-- SECCION CONTENEDOR CON VIDEO EXPLICATIVO -->

  <div class="container">
    <div class = "cta-content">
        <div class="cta-text">
            <h2>
                Llega a tus metas académicas con nosotros
            </h2>
            
            <a hred="" class ="cta-button">Busca a un tutor</a>
            <p>¿Quieres ser tutor?</p>
            <a hred="" class ="cta-button">Registrate</a>
            <p>¿Cómo busco un tutor?</p>
            <div class = "imagen-con-hover">
                <img src="./../img/click_video.PNG" alt="Prueba">
            </div>
        </div>
        <div class="cta-image">
            <img src="./../img/headear al lado.png" alt="Prueba">
        </div>
      
    </div>
</div>



</header>
