<!-- SECCION CONTENIDO Y TUTORÍAS -->

<div class="content-search">
    <div class="search-header">
        <h2>Busca contenido o tutorías por cursos</h2>
        <input type="text" placeholder="Busca por nombre de curso" class="search-input">
    </div>
    <div class="courses-grid">
        <a href="#" class="course-link">Matemática</a>
        <a href="#" class="course-link">Programación</a>
        <a href="#" class="course-link">Inglés</a>
        <a href="#" class="course-link">Química</a>
        <a href="#" class="course-link">Termodinámica</a>
        <a href="#" class="course-link">Biología</a>
        <a href="#" class="course-link">Filosofía</a>
        <a href="#" class="course-link">Software testing</a>
        <a href="#" class="course-link">Arquitectura</a>
        <a href="#" class="course-link">Bases de datos</a>
        <a href="#" class="course-link">Física</a>
        <a href="#" class="course-link">Electromagnetismo</a>
    </div>
</div>
