body{
    font-family: 'Times New Roman', Times, serif;
    margin:0;
    padding: 0;
    background-color: #ffffff;
    

}

/* SECCION HEADER Y BARRA NAVEGACION */

header {
    background-color: #ffffff;
    color: #000000;
    position: relative;
}


.container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;


}

.navbar{
    background-color: white;
    color: black;
    padding: 10px,20px;
}

.nav-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px,0;
}

#logo{
    font-size: 40px;
    margin:0;
}

#menu{
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

#menu li{
    margin-right: 80px;
}

#menu a{
    font-size: 20px;
    text-decoration: none;
    color: black;
    transition: color 0.3s;
}

#menu a:hover{
    color: rgb(151, 149, 149);
    
}

.user-box {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 20px; /* Posición a la derecha */
}

.user-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px; /* Espacio entre la imagen y el texto */
}

.user-info {
    display: flex;
    flex-direction: column;
}

.user-name {
    font-size: 16px;
    color: green; /* Color del nombre de usuario */
    margin: 0;
}

.settings-link {
    font-size: 14px;
    color: gray; /* Color del enlace de configuración */
    text-decoration: none;
}

.settings-link:hover {
    color: black; /* Cambia de color al pasar el ratón */
}


/* SECCION VIDEO Y INFO ADICIONAL */


.cta-content{
    background-color:white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cta-text{
    text-align: left;
    width: 50%;

}

.cta-content h2{
    font-size: 40px;
    margin-bottom:  20px;
}

.cta-content {
    font-size: 20px;

}

.cta-button{
    background-color: #000000;
    color: white;
    padding: 15px 30px;
    text-decoration:  none;
    font-weight: bold;
  
    border-radius: 0px;
    display: inline-block;

}

.cta-button:hover{
    background-color: #0f0f0f;
}

.cta-image img{
    max-width: 100%;
    height: auto;
}

.imagen-con-hover{
    max-width: 100%;
    height: auto;
    transition: filter 0.1s;
}
.imagen-con-hover:hover{
    filter: grayscale(50%);
}


/* SECCION CONTENIDO Y TUTORIAS */

.content-search {
    padding: 40px 20px;
    background-color: #f5f5f5;
}

.search-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.search-header h2 {
    font-size: 30px;
    margin: 0;
}

.search-input {
    padding: 10px;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
}

.courses-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-items: center;
}

.course-link {
    font-size: 18px;
    color: #0099cc;
    text-decoration: none;
    transition: color 0.3s;
}

.course-link:hover {
    color: #006699;
}

/* SECCION RESEÑAS */

.reviews-section {
    padding: 40px 20px;
    background-color: #f5f5f5;
}

.reviews-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.reviews-header h2 {
    font-size: 30px;
    margin: 0;
}

.view-all-reviews {
    font-size: 20px;
    color: #0099cc;
    text-decoration: none;
    transition: color 0.3s;
}

.view-all-reviews:hover {
    color: #006699;
}

.reviews-grid {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.review-box {
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 20px;
    width: 30%;
    text-align: center;
    border-radius: 5px;
}

.review-box h3 {
    font-size: 30px;
    margin-bottom: 10px;
}

.stars {
    font-size: 20px;
    color: #ffd700; 
    margin-bottom: 10px;
}
.review-box p {
    font-size: 20px;
}

/* SECCION BENEFICIOS Y UNIRSE */


.join-section {
    padding: 40px 20px;
    background-color: #eef9f4; /* Fondo suave */
    text-align: center;
}

.join-section h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.benefits-list {
    list-style-type: none; /* Elimina los puntos de la lista */
    padding: 0;
    margin-bottom: 20px;
}

.benefits-list li {
    font-size: 18px;
    margin: 10px 0;
    padding: 10px;
    border-left: 4px solid #00a896; /* Línea de color para destacar cada ítem */
    text-align: left;
    max-width: 600px;
    margin: 0 auto 10px; /* Centramos cada elemento de la lista */
}

.join-section .cta-button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #00a896;
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.join-section .cta-button:hover {
    background-color: #028090;
}

/* SECCION SOBRE NOSOTROS*/

.about-section {
    padding: 40px 20px;
    background-color: #f5f5f5;
    text-align: center;
}

.about-section h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.team-grid {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.team-member {
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 20px;
    width: 23%;
    text-align: center;
    border-radius: 5px;
}

.team-member h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.member-photo {
    width: 100px;
    height: 100px;
    background-color: #ccc;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    border-radius: 50%;
    margin: 0 auto 10px;
}


.member-role {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.member-description {
    font-size: 14px;
    color: #666;
}


/* SECCION CASOS DE EXITO */

.projects-section {
    padding: 40px 20px;
    background-color: #eef2f7;
    text-align: center;
}

.projects-section h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.projects-grid {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.project-box {
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 20px;
    width: 30%;
    text-align: left;
    border-radius: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.project-box h3 {
    font-size: 20px;
    margin: 0 0 10px 0;
}

.project-photo {
    width: 100%;
    height: 200px;
    background-color: #ccc;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 10px;
    border-radius: 10px;
}

.project-description {
    font-size: 16px;
    margin-bottom: 40px;
}

.project-date {
    font-size: 14px;
    color: #666;
    margin-top: auto; 
}

/* SECCION FAQ */

.faq-section {
    padding: 40px 20px;
    background-color: #f5f5f5;
    text-align: left;
}

.faq-section h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.faq-item {
    margin-bottom: 20px;
}

.faq-item h3 {
    font-size: 20px;
    color: #0099cc;
    margin-bottom: 5px;
}

.faq-item p {
    font-size: 16px;
    color: #333;
}

/* SECCION PIE DE PAGINA */

.footer-section {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.footer-section p {
    margin: 5px 0;
    font-size: 14px;
}

.footer-section a {
    color: #0099cc;
    text-decoration: none;
}

.footer-section a:hover {
    color: #028090;
}
